[2019-07-02 05:13] AnaBelgun opened #1 "Add DEA logos and styling"
- [x] DEA logo/s

- [x] styling

Details in terria drive, under DEA: https://drive.google.com/drive/folders/1jg4RxKM59aYB2Oii1GODll93cnCvfpow

[2019-07-08 03:07] AnaBelgun opened #2 "DEA - July 2019 release"
- [x] update to latest terriajs

- [x] update to latest terria server 3.0.1 which fixes bug with shortening url when sharing TerriaJS/terriajs#3510 - to be double checked by @steve9164

- [x] logos/styling - https://github.com/TerriaJS/dea-map/issues/1

[2019-07-17 03:57] #1 closed

[2019-07-26 01:44] soyarsauce commented on #2
@AnaBelgun updated terriajs & server @ http://de-australia.terria.io/

[2019-07-26 02:53] #2 closed

[2019-07-30 02:31] AnaBelgun opened #6 "DE Australia - revise About pages"
- [x] About pages revised: https://docs.google.com/document/d/1BwLK1O-FEvn37DCB9GStPG7ZkZdFG3XZ/edit#heading=h.gjdgxs

[2019-07-30 02:31] AnaBelgun opened #7 "DE Australia - revise logos and styling"
Landing page:
- [x] delete Prototype from logos section

- [x] add GA logo https://drive.google.com/drive/u/0/folders/1BpfjZvjI2QPk5254n6RUQgbdG7l_Jc7w

- [x] replace Data61 logo with the recent one (CSIRO Data61) https://drive.google.com/drive/u/0/folders/19XZfBUS4xPdCMeDObPaa5Vn2aSnWOifi

[2019-07-30 02:32] AnaBelgun opened #8 "DE Australia - data and metadata"
- [ ] update catalogue:
"Could the default catalog of de-australia.terria.io please be pointed to https://raw.githubusercontent.com/GeoscienceAustralia/dea-config/master/dev/terria/dea-maps.json"

[2019-07-30 02:34] AnaBelgun opened #9 "DE Australia - DNS + https"
- [ ] DNS to be confirmed; new name

- [ ] https - enable

[2019-08-07 03:15] AnaBelgun opened #10 "DE Australia - pop up /disclaimer"
text to be sent by DEA team

[2019-08-07 05:14] rowanwins commented on #10
I'm currently using

---------------------------------
As a condition of using this website, users should understand and must accept that the information and data provided on the DE Africa Map:
- is entirely dependent on the accuracy of the information and data which has been provided by the third data custodians
- is not necessarily complete
- sometimes is general in nature
- should not be relied

[2019-09-13 06:09] AnaBelgun opened #12 "Allow setting a custom request limit for different servers"
- Due to issues with services performance due to a cap on requests (max 3)
- Done for DE Africa: https://github.com/TerriaJS/de-africa-map/pull/19
- needs done for all maps where DE Satellite Imagery is included

[2019-09-13 06:10] AnaBelgun opened #13 "DE Australia - Oct 19 release"
- [x] workbench user stepping guide - https://github.com/TerriaJS/terriajs/pull/3743
with this, once the modal is created on front page, the "take a tour" button will have to point to the Help & FAQ pages because it cannot copy the video button from DE Africa (that video will be very specific to Africa map)

- [x] update related maps - https://github.com/TerriaJS/de-australia-map/issues/15

- [x]

[2019-09-16 05:26] AnaBelgun commented on #12
this will be part of release if decided at meeting on 17 Sep 19 with DEA

[2019-09-25 06:34] AnaBelgun opened #14 "Add Help in the top right menu"
Based on discussions recorded here: https://docs.google.com/document/d/1Y7Z1EwwkzuBrOgrqowxauJ0-p4v70oVGyoDztOSwoUY/edit

- [x] add help button in the top right hand side menu similar to https://soe.terria.io/

- [x] fix the issue with users not being able to return to previous step (in case they are at step 2)

Add the following options/guides:

- [ ] Explore map data

- [ ] Interact with the dat

[2019-10-14 02:18] AnaBelgun commented on #12
@steve9164 to implement a change to 12-24 tile requests limit TBC

[2019-10-14 06:31] steve9164 commented on #12
I've talked with @kring and done some testing and I don't think there is a significant difference in performance between limiting to 6 or 12 concurrent requests, as there is when using Chrome limited to 3 or a different browser which is limited to 6. We should work towards including the Cesium bug fix in all apps and not use custom request limits for DEA services.

[2019-10-14 06:32] #12 closed

[2019-10-21 02:23] AnaBelgun commented on #14
temporarily (for GEO Week) point the help button to the About - Help pages http://de-australia.terria.io/help/help.html

[2019-10-23 06:23] AnaBelgun opened #15 "DE Australia - related maps button"
Related maps button to show only the DE Africa and NationalMap.

Under The NationalMap:

- [x] The NationalMap is a website for map-based access to spatial data from Australian government agencies. It is an initiative of the Australian Government's Department of the Prime Minister and Cabinet and the software has been developed by Data61 working closely with the Department of the Prime Minister an

[2019-10-23 06:26] AnaBelgun opened #16 "DE Australia - redraft feedback"
Under Feedback, add after "We would love to hear from you!" - "contact us at dea@ga.gov.au"
or enter the details below"

[2019-10-24 02:25] rowanwins commented on #6
Can we check if the changes are pretty much the same as AfricaMap @AnaBelgun ?

[2019-10-24 02:39] rowanwins commented on #9
New url is
https://maps.dea.ga.gov.au

Just needs something to happen with the certificate which I think with with @peterhassall

[2019-10-24 02:59] rowanwins commented on #7
Here's the new brandbar - do we want to send it to DEA for approval @AnaBelgun ?
![Brandbar](https://user-images.githubusercontent.com/6735870/67449600-6bf7a680-f666-11e9-99d6-db0e33840606.png)

[2019-10-25 05:06] AnaBelgun opened #19 "DE Australia - link to social media channels from UI"
@philipgrimmett what would be the best option to link to social media channels from the UI:
Twitter - https://twitter.com/GeoscienceAus
Facebook - https://www.facebook.com/GeoscienceAustralia
Youtube - https://www.youtube.com/user/GeoscienceAustralia
LinkedIn - https://au.linkedin.com/company/geoscience-australia

[2019-10-25 05:21] rowanwins commented on #19
On the about pages this is easy - not so easy in the TerriaMap interface esp before GeoWeek

[2019-10-25 05:23] rowanwins commented on #10
Not in popup form, will put in the about pages somewhere

[2019-10-29 02:18] #10 closed

[2019-10-29 08:43] soyarsauce commented on #13
- [ ] merge in https://github.com/TerriaJS/de-australia-map/pull/20 (for language overrides, once terriajs has been released past 7.7.0)

[2019-10-30 00:00] #6 closed

[2019-10-30 00:00] #7 closed

[2019-10-30 00:00] #8 closed

[2019-10-30 00:00] #15 closed

[2019-10-30 00:00] #16 closed

[2019-10-30 02:06] rowanwins opened #26 "Remove satellite imagery from terria-cube config"
Get rid of this category
https://github.com/TerriaJS/de-australia-map/blob/master/wwwroot/init/terria-cube.json#L9402

[2019-10-30 02:08] rowanwins opened #27 "Remove monthly and yearly hydro data options"
On all hydro layers
- Watercourse Discharge
- Watercourse Levels
For both reference and all stations

https://github.com/TerriaJS/de-australia-map/blob/master/wwwroot/init/terria-cube.json#L9361-L9367

[2019-10-30 02:08] GypsyBojangles commented on #26
Would you also be able to remove:

[2019-10-30 02:09] GypsyBojangles commented on #26
"Leo has also suggested removing the monthly and annual options on the hydro layers for the DE-Australia map"

[2019-10-30 03:02] philipgrimmett commented on #19
**Invision comp**
https://invis.io/MWULVQ1XH4P#/391034809_about-001

Given limited real estate on the map, I'd suggest we display social media icon button in an 'about' modal that launches when users click on the 'about' map button. This modal provides a brief description of the project goals and links to more information, social channels etc. The benefit of this would be users can source key info

[2019-11-01 04:02] AnaBelgun opened #30 "Update Satellite imagery GSKY blended service (Landsat 5,7,8 and Sentinel 2A, 2B)"
Hi All,

The new blended service layer (with true/false styles) has been released. The new layer is called “Multi-sensor (Landsat and Sentinel 2) surface reflectance (Beta)” which can be found at the DEA endpoint (https://gsky.nci.org.au/ows/dea ).

Note the “Multi-sensor (Landsat and Sentinel 2) surface reflectance true Colour (Beta)” and ““Multi-sensor (Landsat and Sentinel 2) surface reflectanc

[2019-11-01 04:28] #26 closed

[2019-11-01 04:28] #27 closed

[2019-11-15 04:10] #13 closed

[2019-11-18 00:39] #9 closed

[2019-11-18 00:39] AnaBelgun commented on #9
Done by Pete

[2019-11-22 00:54] AnaBelgun opened #34 "Add Disclaimer pop up"
Here’s our disclaimer text for the DEA Maps popup window.

The information displayed on the DEA Maps (the “Service”) is for general informational purposes only, and is not intended to provide any commercial, financial, or legal advice.

The Service provides access to a range of data sets and tools, some of which are in development (beta). All data and tools are provided on an “as is” and “with all

[2019-11-25 07:59] AnaBelgun opened #35 "DE Australia - Nov 2019 release"
- [x] add disclaimer: https://github.com/TerriaJS/de-australia-map/issues/34

- [x] update Blended service: https://github.com/TerriaJS/de-australia-map/issues/30

- [ ] add social media links: https://github.com/TerriaJS/de-australia-map/issues/19

[2019-11-29 06:01] #34 closed

[2019-11-29 06:02] soyarsauce commented on #35
Disclaimer is released now: https://de-australia.terria.io/

[2019-11-29 06:03] soyarsauce commented on #34
All updated, with the exception of the last point:

Linked with page anchor specifically to the T&Cs

Done

This isn't possible in web browsers - I've simply made it redirect to https://www.ga.gov.au/dea if a user clicks cancel.

[2019-12-08 23:19] rowanwins commented on #14
Done

[2019-12-09 01:09] soyarsauce commented on #35
@rowanwins
Recent blended service PR:
https://github.com/TerriaJS/NationalMap-Catalog/pull/154/files#diff-4b6b4e30495ad03e4242392d21a847ebR230

[2019-12-09 01:56] rowanwins commented on #30
This is already available in the catalog. The styles has a dropdown containing a range of options.

<img width="1323" alt="Blended" src="https://user-images.githubusercontent.com/6735870/70401331-3d515600-1a83-11ea-88ba-97ce4d31a640.png">

[2019-12-09 01:56] #30 closed

[2019-12-09 03:58] #35 closed

[2019-12-18 02:32] AnaBelgun opened #37 "Waterbodies data - disclaimer + sharing issue - design and testing"
- clarify the data shown when a waterbody is clicked on

https://docs.google.com/document/d/1TW4SBcMon_xFxl0r_BOzJ-g958tnq_yKm8846W8qlpA/edit

[2019-12-18 02:47] soyarsauce opened #38 "Waterbodies data - disclaimer + sharing issue - development"
https://github.com/TerriaJS/de-australia-map/issues/37

[2019-12-18 03:01] soyarsauce commented on #38
Not yet decided on whether we are implementing in master or mobx
Implementing in mobx will mean making terria-cube ready for mobx

[2019-12-18 03:03] AnaBelgun opened #39 "Onboarding UI changes - designs"
- onboarding designs based on discussions with DE Australia team

[Notes live here](https://docs.google.com/document/d/1cENE8rKUDknTd5EY9NzplAghaV4FetJij-UwIgX2AtU/edit?folder=17hIu2s1LGi2semARtA6h79yBsls3HtxM)

[2019-12-18 03:08] AnaBelgun opened #40 "Onboarding designs - testing"

[2019-12-18 03:08] soyarsauce opened #41 "TerriaJS Onboarding v2"
#### As a non-technical, non-spatial map user,
#### I want to be on-boarded in my own personally preferred way of processing new information,
#### so I can get started using a given TerriaMap (DEA Aust/Africa)

Other notes from Vic:

Design discussion ticket at https://github.com/TerriaJS/de-australia-map/issues/39

Gdrive notes: https://docs.google.com/document/d/1cENE8rKUDknTd5EY9NzplAghaV4FetJi

[2019-12-18 03:08] AnaBelgun opened #42 "Delta v2 testing"
testing of v1 prototype of Delta functionality

[2019-12-18 03:09] AnaBelgun commented on #42
connect to https://github.com/TerriaJS/terriajs/issues/3274

[2019-12-18 04:29] AnaBelgun commented on #19
will reissue this when redesign

[2019-12-18 04:29] #19 closed

[2019-12-18 04:30] #14 closed

[2020-01-15 05:27] AnaBelgun commented on #38
Follow up from Vic and Rowan discussion:
- Can you left align the text with the “Charts” title underneath it
- Once the above is done, reduce the top and bottom padding to match the left hand side padding
- Give the text link an underline
- Full stop at end of sentence
- Background colour to be #9A4B4B

[2020-01-15 05:30] AnaBelgun commented on #37
Designs available here: https://projects.invisionapp.com/share/WCVJ9YVJ5HU#/screens/400375722

Client approved the quick version as per email on 15 Jan 2020:

Hi Victor,

Thank you so much for pulling these prototypes together.

"We agree that the red/brown disclaimer is the best option and would like to officially ask you to please go ahead and implement quick fix V1b.

The detailed fixes are a b

[2020-01-16 05:11] soyarsauce commented on #40
"What's new" is being considered as part of this testing. Semi-related: https://github.com/TerriaJS/terriajs/issues/3806

[2020-01-17 02:14] rowanwins commented on #38
Underway in #3930

[2020-01-20 01:01] alyce commented on #40
So current scope for this testing is:
- Onboarding
- Delta
- What's New
- Waterbodies update

[2020-01-20 05:31] vicborgy commented on #39
Here is the work ive been doing for on-boarding work:
https://projects.invisionapp.com/share/T8VM2ZBZ6C7#/screens/401335921
We felt the first step to fixing the on-boarding experience was leaning up the UI so its a little easier to understand, especially for first time users. I tried not to go too far with my designs and so more of a clean up. This is by no mens perfect or the ideal layout but I f

[2020-01-30 04:04] rowanwins commented on #38
Done

[2020-01-30 04:04] #38 closed

[2020-01-30 04:04] #37 closed

[2020-02-20 23:14] rowanwins opened #43 "Add google analytics"
UA-158835145-1

[2020-03-01 22:36] rowanwins commented on #43
Not required, already had Google Analytics via private-client-config

[2020-03-01 22:36] #43 closed

[2020-03-10 02:15] vicborgy commented on #39
Here are the designs so far - https://invis.io/VQWC0P9FC3D

Things to consider when looking at the designs
- Welcome message - I’ve focused new designs on what people see when they load Terria for the first time, making it more about us wanting to help them. So, there is room for discussion about what links we show. It should really offer support from the get go and not just a brief intro
- I’ve u

[2020-03-10 03:40] vicborgy commented on #39
Here are the designs ive been working on - https://invis.io/VQWC0P9FC3D

Things to consider when looking at the designs
- Welcome message - I’ve focused new designs on what people see when they load Terria for the first time, making it more about us wanting to help them. So, there is room for discussion about what links we show. It should really offer support from the get go and not just a brief i

[2020-03-10 05:35] AnaBelgun commented on #39
to demo and discuss with the team during sprint planning on 16 March

[2020-03-13 07:07] AnaBelgun commented on #40
Based on discussion held on 6 March, UX team recommends doing testing on live prototypes for both Onboarding and Delta.

Timeline has changed accordingly and design testing for Onboarding was cancelled.

[2020-03-13 07:07] #40 closed

[2020-03-13 07:09] AnaBelgun commented on #42
Based on discussion with DEA and UX, testing of Delta V2 will be done between 20 April - 8 May 2020.

[2020-03-13 07:14] AnaBelgun opened #44 "Delta v2 - flat design drafts"
Based on discussion with the DEA team, UX will draft flat designs to discuss with DEA, before completion of v2 design.
Meeting booked for 16 March to discuss the workflow approach.
Designs for v2 to be finalised after meeting, until 20 March 2020.

[2020-03-13 07:33] AnaBelgun opened #45 "Delta v2 - designs"
Following agreement with DEA and UI developers, Delta v2 designs to be finalised by 20 March if possible.

[2020-03-18 03:46] vicborgy commented on #39
Onboarding is ready to go. https://invis.io/VQWC0P9FC3D
We still need to finalise the text content for the 'take the tour', but the shell is there ready begin.

[2020-03-24 02:28] soyarsauce commented on #39
<img width="343" alt="image" src="https://user-images.githubusercontent.com/9134432/77381880-11a87080-6dd3-11ea-9eed-fc3cf9452e16.png">

Just adding this before I forget, noting this really restricts us for logo usage, I would prefer the flexibility for strictly light or strictly dark background on this (so that we can maintain the light background for apps, and then individual map owners can deci

[2020-03-27 04:26] soyarsauce commented on #39
(FYI @vicborgy - can you comment on above? thanks 🙂 )

[2020-03-27 04:57] vicborgy commented on #39
Sorry @soyarsauce, should definitely be  strictly a dark backgroundA consistent dark background is the best solution. Thanks

[2020-03-27 05:45] soyarsauce commented on #39
Any way we can keep an option for light? It would mean having to chase every single map that we roll for new logos lest we end up with this:
<img width="351" alt="image" src="https://user-images.githubusercontent.com/9134432/77725720-4d993b00-704a-11ea-9781-ab7b44a72aa2.png">

[2020-03-27 06:14] vicborgy commented on #39
Right ok so suggesting to have dark or light and nowhere in between as opposed to only light or only dark, right? And are you talking about the logo area only or the whole workbench?

[2020-03-27 07:06] soyarsauce commented on #39
Yeah I mean for the option to have light or dark, and just the logo area like it currently is. So I'm saying,
- Dark mode would be like how your design is, rest of workbench matches the "dark workbench background"
- Light mode to be the current white bg when a map's logos don't have light versions readily available

[2020-03-28 06:13] vicborgy commented on #39
Ok no worries. Light logo area should only be like NSW DT though. We want to make sure they don't push for a white workbench.

[2020-03-31 01:15] AnaBelgun commented on #39
designs have been finalised. Any subsequent designs / refinements during development phase will be submitted as separate tickets.

[2020-03-31 01:15] #39 closed

[2020-03-31 01:24] AnaBelgun commented on #44
Design concepts discussed with DEA team. Future iterations of designs will be addressed in https://github.com/TerriaJS/de-australia-map/issues/45

[2020-03-31 01:24] #44 closed

[2020-04-07 06:25] vicborgy commented on #45
Here are the final Delta designs ready for development & testing:
https://invis.io/SYWP0UQWK8V

[2020-04-07 07:03] vicborgy commented on #45
Here is the Sketch file: https://drive.google.com/open?id=1-2z2QV3XNHbDGN99u4xM1vf69yjIU21h&authuser=design@victorborg.com.au&usp=drive_fs

[2020-04-10 01:11] AnaBelgun commented on #45
Designs for v2 are done.

@vicborgy @soyarsauce
Should the v2 designs are changed either during development or after testing,
we should submit new tickets with the respective version (v2.1 etc) and what changed (more like a doc version control) and then link to the epic. In this way we know where we are with the designs and dev iterations.
Unless you know of a different /better method.

[2020-04-10 01:11] #45 closed

[2020-04-20 06:40] soyarsauce commented on #45
Yeah @AnaBelgun I think we just go with new ticket with version number in title and link to epic, some system is better than nothing

[2020-05-11 04:03] soyarsauce commented on #41
Help panel items.

For DEA
- "getting started" is a video, the first item.
- satellite imagery exploration as second item (can be a video or a tour type of thing) - use existing satellite imagery guide for now.

For the two videos,
- generic "how to interact with satellite imagery", which includes splitter help.
under the help menu in satellite imagery, do we use the video or tour bits, or both?

[2020-05-11 04:11] soyarsauce commented on #41
19th.
Tester goes in. Opens terria-cube (no DE africa map)

Gets in front of terria-cube with mobx, w/ all satellite imagery from DEA*2

It will have on the landing page.
Disclaimer(terria-cube). Acknowledge,
Get to getting started modal.

Paths:
- I'll need some help
List of generic items, including - getting started, satellite imagery,

++ Delta catalog

Dive into catalog, onboarding ends here.

[2020-06-01 00:08] AnaBelgun opened #47 "DE Australia on MobX- June 2020 release - End of FY20 delivery"
Acceptance criteria for update of DE Australia to MobX TerriaJS:

- [x] Application available for testing at a new distinct DE Australia-on-MobX url

- [x] Data catalogue available in MobX map: 61 datasets in 29 groups

- [ ] geojson catalog items converted to mobx-catalogs

- [ ] Specific to DEA: Waterbodies charts display the same behaviour and warning message: http://de-australia.terria.io/#sha

[2020-06-01 00:43] AnaBelgun opened #48 "MobX DEA - show imagery as dots instead of lines on charts"
To replicate the behaviour of showing dates as dots on water discharge charts, we need to replace the lines currently available on MobX for charts

[2020-06-01 00:45] AnaBelgun opened #49 "MobX DEA - replicate message for Waterbodies charts"
Copy the message used for Waterbodies charts (when clicking Expand):

![image](https://user-images.githubusercontent.com/18452161/83366861-0c7c2900-a3f5-11ea-80e8-d20596b3d88b.png)

[2020-06-01 00:59] na9da commented on #48
This feature already exists in `mobx`. Last week, I created a PR with some bug fixes for it - https://github.com/TerriaJS/terriajs/pull/4383

To enable the service for individual satellite imagery datasets we need to configure them with:
`"chartType": "momentPoints"`, just like in master.

[2020-06-01 01:26] AnaBelgun commented on #48
awesome work @na9da

[2020-06-01 02:08] AnaBelgun commented on #41
This epic is superseded by Onboarding v3 https://github.com/TerriaJS/terriajs/issues/4391; should any tickets remain after June 30, they will be transferred to a new User guides and onboarding generic epic

[2020-06-01 02:08] #41 closed

[2020-06-01 02:09] AnaBelgun commented on #42
done between 19-21 May 2020

[2020-06-01 02:09] #42 closed

[2020-06-01 04:46] soyarsauce commented on #47
Re: 61 datasets in 29 groups - that's just to say we ensure the same catalog is available on DE Australia mobx, right?

[2020-06-02 00:49] soyarsauce commented on #47
re: above

yes

[2020-06-19 07:29] AnaBelgun commented on #48
@steve9164 Rowan has implemented the dots for DE Au in master in case you need more info

[2020-06-19 07:30] AnaBelgun commented on #49
The behaviour + coloured band appearing in charts just for Waterbodies, was implemented by Wing (I think) in DEAu in master

[2020-06-22 00:59] soyarsauce commented on #47
ana: leave this as last prio

[2020-06-29 05:59] soyarsauce commented on #47
Most of this is done now:
http://de-australia.saas.terria.io/

[2020-06-29 05:59] soyarsauce commented on #47
Includes the DE aust themeing, but help content to be updated

[2020-06-30 03:51] soyarsauce commented on #47
@steve9164 to pull in terraicube catalogs too

[2020-06-30 04:00] AnaBelgun commented on #47
@soyarsauce @steve9164 why do we need the terriacube catalogue? unless I'm misunderstanding; the terria cube has a lot of stuff which is in development / experimentation and shouldn't be in DEA
unless you refer to the data for Delta 2

[2020-06-30 04:41] soyarsauce commented on #47
@AnaBelgun in your checklist, there is ` Show satellite imagery as dots on the charts of Water regulations data (BoM)` which comes from a terria-cube catalog item

[2020-06-30 06:59] steve9164 commented on #47
@AnaBelgun There's a catalogue file that is loaded by production Digital Earth Australia that is named `terria-cube.json`. It has only the Water Regulations data in it, the rest comes from a catalogue file called `dea.json` which is managed by GA. It's completely separate from the catalogue of terriacube, it's just poorly named.

That small catalogue file is what Wing is referring to, and Wing wil

[2020-07-07 05:13] AnaBelgun commented on #48
Yes, the imagery is shown as dots on current DE Australia MobX implementation:
 - http://de-australia.saas.terria.io/
- http://de-australia.saas.terria.io/#share=s-bAd0CCuTjXvCu4QyfBAckvUApmy

[2020-07-07 05:13] #48 closed

[2020-07-07 05:52] AnaBelgun opened #51 "Update GA's Australian Topography basemap"
Updated service:  https://services.ga.gov.au/gis/rest/services/NationalBaseMap/MapServer

[2020-07-08 02:06] AnaBelgun opened #52 "DE Australia - July 2020 release"
- [x] geojson catalog items converted to mobx-catalogs

- [x] Specific to DEA: Waterbodies charts display the same behaviour and warning message: http://de-australia.terria.io/#share=s-q2fCou4W0OVpWyZXUBkzqvFvnJz; - [ ] Copy implementation of warning message when opening waterbodies and click on expand chart - https://github.com/TerriaJS/de-australia-map/issues/49; needs this: https://github.com/T

[2020-07-08 02:11] AnaBelgun commented on #47
This has been released and sent to client on 30 June.
Outstanding issues (waterbodies charts banner and delta v3) are included in the next release: https://github.com/TerriaJS/de-australia-map/issues/52

[2020-07-08 02:11] #47 closed

[2020-07-13 03:05] AnaBelgun opened #53 "Coastlines WMS not handled correctly on DEA on MobX"
DEACoastLines WMS is now on prod: https://geoserver.dea.ga.gov.au/geoserver/wms

When tested on a non-MobX map such as https://terria-cube.terria.io/, the wms is correctly added to the catalogue:
https://terria-cube.terria.io/#share=s-jDQF9nKRUykVhlMxnReWasLN14F

![image](https://user-images.githubusercontent.com/18452161/87266744-5898ae00-c509-11ea-90fd-4db30b844f94.png)

When tested on the new D

[2020-07-13 03:07] AnaBelgun opened #54 "Coastlines legend shown 3 times in the workbench"
When new Coastlines WMS https://geoserver.dea.ga.gov.au/geoserver/wms is tested on a non-mobx maps such as https://terria-cube.terria.io/ https://terria-cube.terria.io/#share=s-jDQF9nKRUykVhlMxnReWasLN14F, the legend appears 3 times in the workbench.

The legend has been uploaded here: https://data.dea.ga.gov.au/projects/coastlines/coastlines_legend.png

![image](https://user-images.githubusercont

[2020-07-14 06:55] soyarsauce commented on #52
Released on http://de-australia.saas.terria.io/ now.

Includes
- geojson support & catalog items: http://de-australia.saas.terria.io/#share=s-eUajtxsK3bpNFRgfmoHa5pj7vly
- (chart sharing is broken)
  - 1. click share link
  - 2. click a waterbody
  - 3. expand chart
  - 4. see disclaimer
  - waterbodies chart display & disclaimer: http://de-australia.saas.terria.io/#share=s-hBfNhIPkB5I3ydWiL0eiaiR

[2020-07-17 08:06] #49 closed

[2020-07-17 08:16] AnaBelgun commented on #52
done

[2020-07-17 08:16] #52 closed

[2020-07-24 00:59] AnaBelgun opened #56 "DE Australia - Catalogue maintenance on DEAu on mobx"
The DEA team would like to continue to maintain the catalogue on the http://de-australia.saas.terria.io/.
Is that a good candidate for Catalogue Editor? Is there a different way for them to retain that capability?

[2020-07-24 01:03] AnaBelgun opened #57 "DE Australia - checklist for upgrade"
Checklist to test the upgraded http://de-australia.saas.terria.io/ matches the features and performance of http://de-australia.terria.io/

[2020-07-24 04:33] soyarsauce commented on #56
See https://github.com/TerriaJS/de-africa-map/issues/49#issuecomment-663315957

[2020-08-19 06:26] robbibt commented on #54
Hi @AnaBelgun, it seems like this issue is coming directly from the GeoServer WMS instead of Terria; we've been able to work around this issue by supplying a custom legend URL in the Terria config. I'd be happy for you to close this unless you have another reason to keep it open.

[2020-08-20 08:33] AnaBelgun commented on #54
great thank you @robbibt for letting us know

[2020-08-20 08:33] #54 closed

[2020-08-26 03:41] meh9 opened #59 "BoM SOS Stream Guages timeseries often does not work - BoM Tomcat OutOfMemoryError"
When trying to use the BoM Stream Guages data, when you click on a station on the map, the timeseries often shows the preview in the feature info popup, but when you click Expand you get a 500 Server Error 95% of the time.

E.g. this URL: https://maps.dea.ga.gov.au/#share=s-qPKEFkC0bO1Ztq99QLAMutiONmW

Clicking on the point (sometimes doesn't work, may have to click again):
<img width="836" alt="S

[2020-08-30 04:31] AnaBelgun commented on #57
superseded by decommission and migration tickets

[2020-08-30 04:31] #57 closed

[2020-08-30 04:33] AnaBelgun opened #60 "DE Australia - Jun-Sep 2020 migration to MobX"
- [x] catalogue - Checklist to test the upgraded http://de-australia.saas.terria.io/ matches the features and performance of http://de-australia.terria.io/

- [x] help menu

- [x] https not http

- [ ] url redirect to http://maps.dea.ga.gov.au/

- [x] ~double check~ update disclaimer to match ~- where to; because it will be replaced by welcome onboarding modal ~

- [x] catalogue needs to match v7

[2020-08-30 04:33] AnaBelgun opened #61 "DE Australia - Decommission v7 28 Sep 2020"
- decommission v7

[2020-09-01 06:26] AnaBelgun opened #62 "DE Australia - Coastlines - shorter url for demo and broadcasting by DEA team"
DEA team would like to start using vanity url shortner for broadcasting work on some specific datasets.
The first example will be the use of the short url for the Coastlines data, to be published and disseminated to Government and other users on 17th of Sep.

There are 2 stages:
1) 15 Sep 2020 - enable the http://maps.dea.ga.gov.au/**#share=s-DEACoastlines** when DEA team advises the data publicat

[2020-09-08 03:59] AnaBelgun commented on #62
@steve9164 is it possible on the 15th of Sep once we receive the advice from DEA team, to enable this url for the coastlines data: http://maps.dea.ga.gov.au/#share=s-DEACoastlines?

[2020-09-14 04:51] soyarsauce commented on #62
We've already successfully tested the concept with the beta link

[2020-09-17 00:56] robbibt commented on #53
Hi all, I just wanted to check if you had a lead on what the issue is here? Just wondering if I should reach out to the the team that helped us put the Geoserver together, or whether it seems like a Terria-side issue.

[2020-09-17 00:57] robbibt commented on #53
(Just want to get everything ready to so Coastlines works nicely with the new version of Terria)

[2020-09-17 01:24] soyarsauce commented on #53
Hi Robbi @robbibt - nested WMS grouping is resolved, trying the coastlines on http://de-australia.dev.saas.terria.io/
will load the layer as it does on terria-cube (v7/master) - just without the legend, which is still WIP in the latest development build of terria.

[2020-09-17 01:45] robbibt commented on #53
Ah yep, the WMS does seem to load on the new Terria 👍

A related question: do Terria configs need to be updated for the new version? I have a config that loads perfectly in the current DEA Maps:

![image](https://user-images.githubusercontent.com/17680388/93409709-d0ed6800-f8da-11ea-8f29-c958e319c100.png)

However if I upload it to the new Terria, none of the layers or folders load:

![image](http

[2020-09-17 03:05] soyarsauce commented on #53
Hey @robbibt you're right that v7 catalogs won't work straight out of the box, however we're aiming to make this as seamless as possible. See https://medium.com/terria/terria-is-getting-another-piston-8-0-0-of-terriajs-23f5fbb6ab2a for a couple more links, putting that json [through the terria catalog converter](https://catalog-converter.terria.io/) gives the below - noting a few properties are st

[2020-09-17 03:06] soyarsauce commented on #53
(Then the above will work in the v8 dev link)

[2020-09-21 00:02] AnaBelgun commented on #62
Done by @steve9164 on Fri 17 Sep

[2020-09-21 10:58] AnaBelgun commented on #60
https://de-australia.dev.saas.terria.io/

[2020-09-22 05:04] #62 closed

[2020-09-22 23:53] AnaBelgun opened #66 "DE Australia - share links - comments from DEA team - adding unique IDs"
https://github.com/GeoscienceAustralia/dea-config/issues/588

A challenge with using DEA Maps to share links to our data is that small changes to the Terria config can cause Terria share links to break. This occurs when a layer is renamed (e.g. Coastal/NIDEM > Coastal/Intertidal Elevation) or moved to a new directory (e.g. (e.g. Coastal/NIDEM > Intertidal/NIDEM). Given how frequently we change the

[2020-09-22 23:53] AnaBelgun commented on #66
from @meh9
Looks good to me.

Note that I usually use a random hash instead of your example of "dea_coastlines" above - otherwise when things are renamed people often get the urge to change the id as well, if it's a random hash then they usually leave it alone!

E.g. https://github.com/TerriaJS/aremi-natmap/blob/master/datasources/aremi/custodian/Geoscience_Australia/Bathymetry_Seabed.ejs#L2

[2020-09-22 23:54] AnaBelgun commented on #66
from Robbi
That's a good idea! Plus it would avoid needing to come up with/use some kind of consistent naming convention for those fields

[2020-10-09 03:44] AnaBelgun commented on #60
Feedback from testing which needs to be incorporated before decommissioning:

- [ ] waterbodies https://github.com/TerriaJS/terriajs/issues/4852

[2020-10-26 05:40] soyarsauce commented on #60
https://github.com/TerriaJS/terriajs/issues/4852

[2020-10-27 04:20] AnaBelgun commented on #61
Closing this ticket in favour of https://github.com/terriajs/de-australia-map/issues/60

[2020-10-27 04:20] #61 closed

[2020-11-09 02:29] soyarsauce commented on #60
https://github.com/TerriaJS/terriajs/issues/4851

[2020-11-16 21:46] MatthewJA opened #67 "Wrong email in terrain server error message"
Pretty minor issue, but when the terrain server isn't responding the contact email is help@example.com:

[code]

[2020-11-17 00:17] steve9164 commented on #60
Waiting on https://github.com/TerriaJS/terriajs/issues/4774

[2020-11-26 03:42] nf-s commented on #60
- [ ] Legend issue https://github.com/opendatacube/datacube-ows/issues/467

[2020-12-02 14:11] nf-s commented on #60
Legend issue is done!

For sharekeys progress see https://github.com/TerriaJS/terriajs/issues/4774#issuecomment-737253349

[2020-12-18 01:15] nf-s commented on #60
Sharekeys are done!

[2020-12-18 01:45] nf-s commented on #60
Deployed to dev cluster - https://de-australia.dev.saas.terria.io/

It currently uses the old v7 catalogs:
- https://raw.githubusercontent.com/GeoscienceAustralia/dea-config/master/dev/terria/dea-maps.json
- https://maps.dea.ga.gov.au/init/terria-cube.json

So any changes to those will update the map

[2020-12-23 00:35] AnaBelgun opened #71 "DE Australia - Waterbodies - hide CSV rows"
Enable the option for featureinfo to skip rows when opening csvs, so that we can include metadata at the start of each timeseries csv file.

[2020-12-23 00:35] AnaBelgun opened #72 "DE Australia - Waterbodies - dots on chart line"
Ability to put dots on the line chart to show where the valid observations are.

This is a symbology change, so quite different to the Water discharge level example.

Instead of a line chart the irrigators would like a line with markers chart. Here is a very basic example using excel. Data is on the left.

Please note that there are fewer points in the DEA waterbodies time series than there are in

[2020-12-23 00:40] AnaBelgun commented on #72
Context:
Q:
Vanessa, just to clarify a bit your second point.
Do you mean to have the same functionality like we currently have for Water discharge levels (BoM) and Satellite Imagery (i.e. show me the imagery for this location/water sensor point on the graph)?
Below the BoM water + satellite (with dots on the chart showing where the imagery is).
![image](https://user-images.githubusercontent.com/1

[2021-01-04 04:30] AnaBelgun commented on #60
URL sent on 24/12/2020 to DEA team to test and provide feedback

[2021-01-04 04:40] AnaBelgun opened #74 "DE Australia - Feb 2021 release"
This ticket will incorporate feedback from migration testing post 24/12/2020 and other outstanding issues.

- [x] Delta date label wrong - https://github.com/terriajs/terriajs/issues/5236 https://github.com/TerriaJS/terriajs/pull/5248
- [x] Waterbodies - hide some CSV rows - https://github.com/TerriaJS/de-australia-map/issues/71 - done, merged
- [x] Waterbodies - dots on charts - https://github.co

[2021-01-04 04:41] AnaBelgun commented on #60
This ticket is superseded by monthly release ticket/s: https://github.com/TerriaJS/de-australia-map/issues/74

[2021-01-04 04:41] #60 closed

[2021-01-20 02:18] KeyboardSounds commented on #71
Is there an example of what one of these CSV files looks like? I can guess, but the implementation specifics depend on whether the CSV can still be parsed as a CSV with the metadata in it.

To skip rows, we have to know where the rows are in the file. Until we do that, it's just a blob of text. So we have to parse the CSV to find the rows, remove them, and then parse the CSV again. This second par

[2021-01-29 04:11] KeyboardSounds commented on #72
Done, just needs to be deployed.

[2021-01-29 07:16] AnaBelgun commented on #71
Pending understanding requirements - meeting to set up during week of 1 Feb 2021

[2021-02-05 02:55] KeyboardSounds commented on #71
Met with Waterbodies folks, and the plan is that they'll add a # in front of rows that should be skipped, rather than providing the indices of those rows. This is a more flexible way of implementing it, because then if the number of rows of metadata changes, the catalog item doesn't need to be reconfigured.

[2021-02-05 03:25] KeyboardSounds opened #75 "DE Australia - Waterbodies - include metadata in chart download"
As a user,
When I download a CSV of a chart of Waterbodies data, I want the metadata from the dataset to be included
So that when browsing those files on my computer later, I know which dataset is which and I don't lose the associated metadata.

---

Follows on from https://github.com/TerriaJS/de-australia-map/issues/71

Metadata in a CSV won't currently be included when the data is downloaded fro

[2021-02-08 08:26] KeyboardSounds commented on #75
Metadata lives in comments. eg the first line of
[code]
Rather than trying to get our current CSV parsing code to output comments as well as CSV data, I suggest we write our own "CSV comment parser" to extract them, and only run it when a chart is downloaded.

[2021-02-10 00:33] #71 closed

[2021-02-18 06:57] nf-s commented on #53
This is mostly working now:

![image](https://user-images.githubusercontent.com/6187649/108317325-35a64900-7212-11eb-88ed-2311907778c6.png)

- [ ] Fix Legend sizing PR: https://github.com/TerriaJS/terriajs/pull/5144
- [ ] Issue to solve only one feature showing in `FeatureInfoSection` https://github.com/TerriaJS/terriajs/issues/4925

For example
![image](https://user-images.githubusercontent.com/6

[2021-02-25 05:11] nf-s commented on #74
- [ ] set  the 2d view as default and straighten the zoom area when landing for DE Africa

[2021-02-25 09:57] AnaBelgun opened #76 "DE Australia - set up Google Analytics on v8"
Digital Earth Australia v8 should have Google analytics set up when v7 is decommissioned.

[2021-02-25 09:58] AnaBelgun opened #77 "DE Australia - Mar 21 release"
- [x] Google analytics set up https://github.com/TerriaJS/de-australia-map/issues/76
- [x] UX research summary #80
- [x] splitter is fixed: https://github.com/TerriaJS/terriajs/issues/5370
- [x] sharing is fixed: https://github.com/TerriaJS/terriajs/issues/5300

Robbi (DEA team) is preparing the Coastal erosion story for launch by Minister between 12- 16 April (exact date TBC).

DEA team has prepa

[2021-03-04 10:47] nf-s commented on #74
https://beta.de-australia.terria.io/ Updated

[2021-03-11 04:03] nf-s commented on #74
I'm going to close this, as v8 SaaS has been updated.

[2021-03-11 04:03] #74 closed

[2021-03-14 22:48] AnaBelgun opened #80 "DE Australia - summary of UX research 2020-2021"
- [ ] Ana to write a summary of UX research conducted end of 2020

[2021-03-14 22:52] AnaBelgun opened #81 "DE Australia - Scope / plan improvement of existing content"
Scope/plan improvement of existing content. Final version is [HERE](https://teams.microsoft.com/l/file/6CC2A74C-2EBF-4BC5-A2D6-9EA24B83A934?tenantId=0fe05593-19ac-4f98-adbf-0375fce7f160&fileType=docx&objectUrl=https%3A%2F%2Fcsiroau.sharepoint.com%2Fsites%2FWebDataPlatformsgroup%2FShared%20Documents%2FGeneral%2FTerria%2FDigital%20Earth%20Australia%20_%20Africa%2FContracts%2C%20SoWs%20_%20Deliverabl

[2021-03-28 23:15] AnaBelgun commented on #80
done, sent to GA; meeting organised on 30 March to present

[2021-03-28 23:15] #80 closed

[2021-03-28 23:23] AnaBelgun commented on #81
Meeting face to face organised for 30th of March

[2021-04-09 06:20] AnaBelgun commented on #81
Scoping is done, individual tickets for each task are submitted separately.

[2021-04-09 06:20] #81 closed

[2021-04-09 06:22] AnaBelgun opened #83 "Video DE Australia landing page - Getting started"
The video on landing page should be done with specific content of DE Australia.
To deliver - v1 video + transcript
Topic - Getting started with the map

[2021-04-09 06:35] AnaBelgun opened #84 "DE Australia - May 2021 release"
- [x] start catalogue restructure -  #93
- [x] Tool Tips: edit text - #88 - Ana
- [x] migrate Terria Cube to v8 - @nf-s

[2021-04-09 06:36] AnaBelgun opened #85 "DE Australia - Apr 2021 release"
- [ ] Story: start design and planning of story v2.0 - https://github.com/TerriaJS/terriajs/issues/3532
- [x] Help pop up (bottom right corner): https://github.com/TerriaJS/de-australia-map/issues/87
- [ ] Tool Tips: edit text - https://github.com/TerriaJS/de-australia-map/issues/88
- [ ] migrate Terria Cube to v8 - @nf-s

[2021-04-09 06:36] AnaBelgun opened #86 "DE Australia - Jul 2021 release"
- [x] Help workflow Compare - https://github.com/TerriaJS/de-australia-map/issues/89
- [x] Help workflow Difference - https://github.com/TerriaJS/de-australia-map/issues/90
- [x] Help workflow - Water + satellite - https://github.com/TerriaJS/de-australia-map/issues/91
- [x] Catalogue - finalise structure, names etc https://github.com/TerriaJS/de-australia-map/issues/93
- [x] NEII Feature - Obs da

[2021-04-10 00:32] AnaBelgun opened #87 "Help pop up - bottom right corner - doesn't show"
Steps to reproduce (to double check); it just might be the case the user clicked on "don't show me this again" on landing page welcome modal and also clicked on "ok, got it" when the Help button showed in the right bottom corner
- Go to http://beta.de-australia.terria.io/
- Help (bottom corner) doesn't seem to show

[2021-04-10 00:34] AnaBelgun opened #88 "Tool tips - relevant examples to DE Australia"
- [ ] Tool tips - currently the wording is related mostly with apps like NSW Digital Twin or NationaMap. It should be made more generic or relevant to DE Australia.

[2021-04-10 00:38] AnaBelgun opened #89 "Help workflow DE Australia - Compare functionality"
- [ ] draft script and do a video of the Compare feature (date and split screen) and include in Help menu

[2021-04-10 00:40] AnaBelgun opened #90 "Help workflow - DE Australia - Difference"
- [ ] make a video and draft content for the Difference (Delta) functionality and include in Help menu

[2021-04-10 00:42] AnaBelgun opened #91 "Help workflow - DE Australia - Water + Satellite"
- [ ] make a video + draft content for Water and Satellite workflow; include in Help menu

[2021-04-10 00:46] AnaBelgun opened #92 "Help workflow - DE Australia - Clip & ship"
- [x] make video + draft content for Clip & Ship v2.0; include in Help menu

[2021-04-10 00:50] AnaBelgun opened #93 "DE Australia - Catalogue org update"
- [ ] DEA data catalogue needs updating: names, org etc

DEA team comments:
DEA Maps could be re-structured (essentially closely following the structure and names used in CMI).
Baseline satellite data (* Probably remove "baseline" to be more user friendly)
    |---> DEA Surface Reflectance
          |---> ... (* Finding a nice way to organise all of our satellite layers will be the trickiest thing

[2021-04-10 00:55] AnaBelgun opened #94 "NEII (Water + Satellite) feature - observation dates shown by default"
Comments from DEA team: Observation dates to be shown by default

Deliverable – Show observation dates on chart for Waterbodies data
Workflow
•	Go to Digital Earth Australia waterbodies - http://de-australia.terria.io/#share=s-5HHstdpaaLVlEc3x0YX0Kby1FEi
•	Click on a waterbody and expand the chart

![image](https://user-images.githubusercontent.com/18452161/119453493-d4df5d00-bd7a-11eb-861b-e496c4

[2021-04-10 00:58] AnaBelgun opened #95 "DE Aus - Set up custom Google analytics"
Development a set up of Google analytics to track usage of:
- story
- share
- use of help menu items

[2021-04-12 05:34] AnaBelgun commented on #87
Ana to check in a different browser and respon dto client

[2021-04-12 05:35] steve9164 commented on #87
Open site in Private Window (FF) or Incognito window (Chrome) to test experience for first time users

[2021-04-13 10:10] nf-s commented on #76
Done !

[2021-04-13 10:10] #76 closed

[2021-04-13 23:26] AnaBelgun opened #96 "DE Australia - Split related bug"
Splitter-related bug here. To reproduce:
Open link: http://beta.de-australia.terria.io/#share=s-1nZ6rsHBaiXp3FrwTdV5obCav5f
Press "Compare" up the top right
Turn off the main "Digital Earth Australia Coastlines" layer
Turn on "Rates of change statistics" layer and set to "Right"
Turn on "Annual coastlines" layer and set to "Left"
Both layers now display only on "Both", not "Left" or "Right". I'm n

[2021-04-13 23:30] AnaBelgun opened #97 "Story v2.0 - Charts handling - Story loses feature info chart"
The only discrepancy in the story https://maps.dea.ga.gov.au/#share=s-DEACoastlines&playStory=1 is the 10th "Time series charts of coastal change" story panel, which seems to have lost its pop-up chart (current on the left, desired on the right). The weird thing is that this used to appear on V7 but it seems to have gone from there too. It would have been nice to include but it's not a critical is

[2021-04-13 23:36] AnaBelgun commented on #77
Done.

[2021-04-13 23:36] #77 closed

[2021-04-16 04:25] AnaBelgun opened #98 "DE Australia - option for DEA team to update catalogue & test data services"
DEA Team:
-  we do need somewhere to test our web services and catalog
-  now with the v8 release we don't really have a convenient/persistent spot
- until earlier this week, we updated the terria cube catalog with the services/features we want to test to share with stakeholders

Some options:
1) update terriacube to v8 and keep that as DEA testing site (public)
2) give access to dev/test DE AU to

[2021-04-22 23:11] AnaBelgun opened #99 "DE Australia - remove the Delta group"
We need to remove the Delta group; not ready for production.

[2021-04-23 02:08] nf-s commented on #99
Done, it is still available in https://de-australia.test.saas.terria.io/

[2021-04-23 02:08] #99 closed

[2021-04-27 09:21] AnaBelgun commented on #87
it does for new users who haven't clicked "dismiss'

[2021-04-27 09:21] #87 closed

[2021-05-04 03:43] AnaBelgun commented on #85
this ticket is superseded by May release; some things are not dependent on the release (i.e. tool tips)

[2021-05-04 03:43] #85 closed

[2021-05-14 03:42] wibily commented on #95
talk with Phil about a template

[2021-05-14 03:51] nf-s commented on #98
Related to https://github.com/TerriaJS/saas/issues/132

[2021-05-14 03:53] nf-s commented on #98
**Nick to expand on the following**

- Currently we are storing SaaS catalogs and map-configs in a public GitHub repo https://github.com/TerriaJS/saas-catalogs-public
- Probably not ready to link to catalog JSON files in other repos
- Probably will keep repo public and let customers make PRs to update catalogs in https://github.com/TerriaJS/saas-catalogs-public

[2021-05-19 07:27] AnaBelgun commented on #88
Sent to client for review
Pending final edits

[2021-05-25 06:55] AnaBelgun opened #100 "DE Australia - Update Tool tips wording"
Update tool tips wording with the new edits available [HERE](https://teams.microsoft.com/l/file/A89D9F81-02E0-4968-9749-4490C07A1F78?tenantId=0fe05593-19ac-4f98-adbf-0375fce7f160&fileType=docx&objectUrl=https%3A%2F%2Fcsiroau.sharepoint.com%2Fsites%2FWebDataPlatformsgroup%2FShared%20Documents%2FGeneral%2FTerria%2FDigital%20Earth%20Australia%20_%20Africa%2FDigital%20Earth%20Australia%20Map%2F2021-05

[2021-05-25 06:56] AnaBelgun commented on #88
ticket done; superseded by this https://github.com/TerriaJS/de-australia-map/issues/100

[2021-05-25 06:56] #88 closed

[2021-05-28 10:12] AnaBelgun opened #101 "DE Australia - add Collections 3 data"
- would like to add the attached group to the DEA Maps and National Maps TerriaJS Catalogues. This would be within the existing “Satellite images” group. At the end of the group is fine.

Some notes:
•	Not sure if I have the strings in “shareKeys” right?
•	I think I generated those id’s by hand – how should we be doing that?

Data is available [here. ](https://csiroau.sharepoint.com/sites/WebDataP

[2021-06-08 08:07] AnaBelgun commented on #84
tickets done

[2021-06-08 08:07] #84 closed

[2021-06-16 23:14] AnaBelgun opened #102 "Harvesting from DEA ows server doesn't return all catalogue"
ws endpoint: https://ows.dea.ga.gov.au

from older version of terria

![image](https://user-images.githubusercontent.com/18452161/122306735-5c6c5600-cf4c-11eb-8a8e-2a290fa4233a.png)

v8
![image](https://user-images.githubusercontent.com/18452161/122306758-64c49100-cf4c-11eb-8491-e707e7a22b24.png)

[2021-06-18 01:06] wibily commented on #95
@AnaBelgun  PR: https://github.com/TerriaJS/terriajs/pull/5552

[2021-06-18 03:11] na9da commented on #94
Fixes:
- [x] Config change to make dots appear on chart
       Test link: https://de-australia.terria.io/#share=s-44EZIKLkA8wv3Rw9GvXZQpeQagJ
- [ ] Code change to fix styling & click behavior when hovering the points - https://github.com/TerriaJS/terriajs/pull/5553

[2021-06-18 08:55] AnaBelgun commented on #98
hi @steve9164 @nf-s we might need to elevate this to high priority end of next week because of changes to DE Au and DE Af catalogues

[2021-06-21 01:13] #95 closed

[2021-06-21 08:03] wibily commented on #100
https://github.com/TerriaJS/terriajs/pull/5559
https://github.com/TerriaJS/terrace/pull/170

[2021-06-23 00:55] #100 closed

[2021-06-23 06:14] na9da commented on #94
PR with styling changes merged to `next` branch.

[2021-06-23 06:14] #94 closed

[2021-06-29 00:59] AnaBelgun commented on #98
sent instructions by email on 29 June 2021

[2021-06-29 00:59] #98 closed

[2021-07-01 05:06] AnaBelgun commented on #91
done in https://terriajs.gitbook.io/terriajs/

[2021-07-01 05:06] #91 closed

[2021-07-01 05:06] AnaBelgun commented on #90
done in https://terriajs.gitbook.io/terriajs/

[2021-07-01 05:06] #90 closed

[2021-07-01 05:06] AnaBelgun commented on #89
done in https://terriajs.gitbook.io/terriajs/

[2021-07-01 05:06] #89 closed

[2021-07-01 05:08] AnaBelgun commented on #75
this is not confirmed as a requirement after dots on chart work was completed.
Will close for now, but can re-open if re-confirmed.

[2021-07-01 05:08] #75 closed

[2021-07-01 05:09] AnaBelgun commented on #66
More comments on how share keys work:
So... if we kept the “ids” the same as they were originally but made changes to the “share keys”, will that break existing share links?
It might break really old ones. shareKeys should only ever be added to, and as soon as you add an id to that item you no longer need to keep adding to them. You can think of the shareKeys as a list of all the places an item ha

[2021-07-01 05:09] #66 closed

[2021-07-01 05:10] AnaBelgun commented on #53
data published using the latest v8 version of DEA

[2021-07-01 05:10] #53 closed

[2021-07-01 05:11] nf-s commented on #96
I'm pretty sure I fixed this, need to confirm though

[2021-07-01 05:17] AnaBelgun commented on #102
@nf-s I think you already fixed this?

[2021-07-02 03:53] nf-s commented on #102
There is still a difference

![image](https://user-images.githubusercontent.com/6187649/124218076-d3087680-db3c-11eb-8803-025b09773bb0.png)

I will investigate

[2021-07-05 11:28] nf-s commented on #102
This is due to how TerriaJS generated catalog member IDs in `WebMapServiceCatalogGroup`. There are two WMS Layers with identical `Title` properties

![image](https://user-images.githubusercontent.com/6187649/124464722-e4b97a80-ddd7-11eb-9a15-3e99639cf3c0.png)

This is valid from a WMS perspective - so I have made a PR to change ID generation to use `Name` property if it exists

[2021-07-05 12:50] nf-s commented on #102
PR here

[2021-07-07 09:53] nf-s commented on #102
Fixed by https://github.com/TerriaJS/terriajs/pull/5613

[2021-07-07 09:53] #102 closed

[2021-07-20 05:56] AnaBelgun opened #103 "DE Australia - Aug-Sep 21 release"
### Release checklist:
- [x] Help workflow - Clip and Ship - https://github.com/TerriaJS/de-australia-map/issues/92
- [x] Catalogue - finalise structure, names etc https://github.com/TerriaJS/de-australia-map/issues/93
- [x] story loses pop up chart (feature info) https://github.com/TerriaJS/de-australia-map/issues/97
- [x] dots bug https://github.com/TerriaJS/de-australia-map/issues/72 + config c

[2021-08-05 00:35] na9da commented on #97
Upon inspection, this doesn't look like a bug. I think the story scene didn't capture the feature info panel for some reason. I have recaptured the scene with an open feature info panel (of my choice) in this share link - https://maps.dea.ga.gov.au/#share=s-GSWdkUDFKQZSSN38Ll2c4qHvQ3

If that looks ok I'll update the share link to point to this new story I captured.

[2021-08-05 05:13] na9da commented on #97
This should be fixed now, opening https://maps.dea.ga.gov.au/#share=s-DEACoastlines&playStory=1  will show a feature info popup with chart for the 10th scene.

[2021-08-05 05:13] #97 closed

[2021-08-09 05:20] AnaBelgun commented on #86
released new catalogue

[2021-08-09 05:20] #86 closed

[2021-08-10 05:15] nf-s commented on #93
Done - now handled by them https://github.com/GeoscienceAustralia/dea-config/blob/master/dev/terria/dea.json

[2021-08-10 05:15] #93 closed

[2021-08-11 23:30] AnaBelgun commented on #72
Update 11 Aug 2021:
it appears that the dots on the charts for waterbodies have disappeared since last update of the catalogue (last week)

![image](https://user-images.githubusercontent.com/18452161/129116220-ce3a251a-dfb9-486a-8218-6c97a71fbdbf.png)

[2021-08-16 03:26] nf-s commented on #96
This is fixed

[2021-08-16 03:26] #96 closed

[2021-08-18 05:15] wibily commented on #72
Ana: quite important as users are using this

[2021-08-24 00:26] na9da commented on #72
That's easy to do with a catalog config change
![image](https://user-images.githubusercontent.com/1430/130534012-c726343d-4271-440b-832e-5367e4d2f626.png)

However we need a small change to Terria so that the satellite imagery dots will line up correctly along with the waterbodies dots.
![image](https://user-images.githubusercontent.com/1430/130535942-3bc270dd-e4c3-4949-9541-e2b28b93cc6a.png)

I'l

[2021-08-24 00:58] na9da commented on #72
Sub tickets:
- [x] https://github.com/TerriaJS/terriajs/issues/5758
- [x] https://github.com/TerriaJS/terriajs/issues/5759
- [x] Deployed saas with latest terriajs (v8.1.x)
- [ ] Updated config

[2021-08-26 00:16] na9da commented on #103
- [x] Adding this issue to fix delta tool - https://github.com/TerriaJS/terriajs/issues/5762

[2021-09-01 23:10] AnaBelgun opened #104 "Graphs date - start - end"
I just noticed that Terria feature info graphs for DEA Coastlines display a solitary "2000" on the x-axis... has this always been the case? It's not a big deal, but it there was a possiblity of instead having the first and the end date, I think that would make the graphs much more interpretable!
Config here in case it's something I'm doing wrong: https://github.com/GeoscienceAustralia/dea-config/b

[2021-09-03 00:06] na9da opened #105 "Plotting charts from multiple coastal points."
Compare with behavior in `master` branch and fix.

[2021-09-06 01:39] AnaBelgun opened #106 "Investigation: differences between charts behaviour for DEA data services"
For DEA Waterbodies, the user can click on multiple waterbodies and then click "Expand" on the Feature Info popup to get a unique chart for each (e.g orange and blue in the left image). However, doing the same thing for DEA Coastlines only ever adds a single orange chart which replaces the previous chart (e.g. orange in the right image).
I am almost certain that this used to work on version 7 of T

[2021-09-06 04:25] robbibt commented on #106
Looks like this will be solved by: https://github.com/TerriaJS/terriajs/pull/5795

[2021-09-28 23:37] AnaBelgun opened #108 "DE Australia - Oct 21 release"
- [x] fix delta https://github.com/TerriaJS/terriajs/issues/5762

[2021-09-28 23:40] #104 closed

[2021-09-28 23:41] #106 closed

[2021-10-07 12:26] nf-s commented on #103
in test https://de-australia.test.saas.terria.io/

[2021-10-07 12:42] nf-s commented on #103
- [x] Need to add configuration to fix charts  (already done in dev+test)

[code]

[2021-10-12 23:47] #72 closed

[2021-10-13 02:43] nf-s commented on #103
![image](https://user-images.githubusercontent.com/6187649/137058028-d4a4c233-3573-4310-ba5e-6dbcac2882ea.png)

https://de-australia.test.saas.terria.io/#share=s-jYs2Ye6liEwHSUH3LP4bwVgXpCs

[2021-10-14 09:54] nf-s commented on #103
All done - now in dev + test

[2021-10-15 03:06] na9da commented on #72
The config change for this is adding `chart-type='lineAndPoint'` to the `<chart>` component in the feature info template of "DEA Waterbodies" as seen in this [catalog definition](https://gist.github.com/na9da/657916be03e1541629f2018501e80a4d#file-waterbodies-json-L10).

[2021-10-15 03:27] na9da commented on #108
@steve9164 after deploy, please replace "DEA Waterbodies" wms item with the following json:

[code]
Changed the `<chart>` component by specificying `chart-type` as `lineAndPoint` to show dots on the chart.

[2021-10-18 04:58] AnaBelgun commented on #103
Configuration updated by DEA team on 18 Oct 2021

[2021-10-18 04:58] #103 closed

[2022-01-07 03:32] #108 closed, assigned to nobody

[2022-01-07 03:32] #51 closed

[2022-01-07 03:33] AnaBelgun commented on #56
clarified with DEA

[2022-01-07 03:33] #56 closed

[2022-01-07 03:33] AnaBelgun commented on #59
raised it with BoM

[2022-01-07 03:33] #59 closed

[2022-01-07 03:33] AnaBelgun commented on #83
closing until re-prioritised

[2022-01-07 03:33] #83 closed

[2022-01-07 03:34] AnaBelgun commented on #92
Update 7 Jan 22:
- following next release which will include the latest version of Clip and Ship

[2022-01-07 03:34] AnaBelgun commented on #101
DEA managing its own catalogue. This is not needed.

[2022-01-07 03:34] #101 closed

[2022-01-07 03:35] AnaBelgun opened #109 "DE Aus - enable search within Waterbodies data"

[2022-01-07 03:35] AnaBelgun opened #110 "DE Aus - handling charts for Waterbodies data"

[2022-01-07 03:46] AnaBelgun opened #111 "DE Australia - Mar 22 Release"
- [x] https://github.com/terriajs/terriajs/issues/5427
- [x] https://github.com/terriajs/terriajs/issues/4692
- [x] https://github.com/TerriaJS/terriajs/issues/5646
- [x] https://github.com/terriajs/terriajs/issues/4620 https://github.com/TerriaJS/terriajs/pull/6234
- [x] https://github.com/terriajs/terriajs/issues/3827

[2022-02-07 05:31] meh9 opened #112 "Story and share URL bugs"
There are some significant issues with Share URL's, found by DEA when trying to generate a new significant Story.

1. Go to this story URL, click `Maybe later`: https://maps.dea.ga.gov.au/#share=s-cr3XWqbQg2E2mzZTxoJHbedXf99
2. Add the layer `DEA Land Cover Descriptors (Landsat)`, and enable it
3. `Compare` it
4. Capture new story scene, get share URL and go to it
5. `Maybe later`
6. Capture a new

[2022-02-07 05:36] meh9 commented on #112
There has been other issues as well where it has been possible to get duplicate layers, but I've not been able to reproduce this myself. Here's a share URL demonstrating that: https://maps.dea.ga.gov.au/#share=s-7KaoXXlCfX5JU4c0crKwukqkBse

<img width="360" alt="Screen Shot 2022-02-07 at 16 34 38" src="https://user-images.githubusercontent.com/5283003/152730185-f7d88a74-707f-4549-bc85-244f2af92c8a

[2022-02-24 04:04] AnaBelgun opened #113 "Vanity URL for Land cover story"
DEA maps would like to share a Land cover story more widely using a vanity url similar to Coastlines story.
This URL: https://maps.dea.ga.gov.au/#share=s-kDaIywrPsYaY657bNyHhoNE4PVv
to become
this URL: https://maps.dea.ga.gov.au/#share=s-DEALandCover

[2022-02-25 04:34] #113 closed, assigned to tephenavies

[2022-02-25 04:35] tephenavies commented on #113
Completed

[2022-02-28 08:15] nf-s commented on #112
This is related to https://github.com/TerriaJS/nationalmap/issues/1121 https://github.com/TerriaJS/terriajs/pull/6165

But the size of share link is getting large for different reasons.

Firstly there is a lot of HTML in one of the story scenes:

[code]

Not sure how this was generated, but all of that stuff is probably not needed.

This bit is a suspicious - `font-family: WordVisi_MSFontService,

[2022-03-01 23:22] AnaBelgun commented on #92
Updated in user guide https://userguide.terria.io/interactions-functionalities-and-workflows#clip-and-ship

[2022-03-01 23:22] #92 closed

[2022-03-01 23:23] AnaBelgun opened #114 "DEA - Update Land cover vanity URL"
Update the newly created vanity URL https://maps.dea.ga.gov.au/#share=s-DEALandCover  with a new one: https://maps.dea.ga.gov.au/#share=s-ckA98Nrmpyb1k7auYQYUJRx3uOO

[2022-03-02 00:11] #112 closed, assigned to nf-s

[2022-03-02 03:07] #114 closed, assigned to nobody

[2022-04-26 02:12] nf-s commented on #111
Story test link https://de-australia.dev.saas.terria.io/story/DEACoastlines

[2022-04-26 02:18] nf-s commented on #111
Dev and test have been deployed

[2022-04-26 23:17] #111 closed, assigned to nf-s

[2022-04-27 00:45] AnaBelgun commented on #111
tested and looks ok.

[2022-06-23 03:21] AnaBelgun opened #115 "DE Aus - update DEA Land Cover story url"
to update the DEA Land Cover story url https://maps.dea.ga.gov.au/story/DEALandCover with a new share link https://maps.dea.ga.gov.au/#share=s-pHV7HTGpfoyyXGpIEhIAiMxk9YL

[2022-07-05 09:51] AnaBelgun commented on #110
no requirements details received

[2022-07-05 09:51] #110 closed, assigned to nobody

[2022-07-05 09:51] AnaBelgun commented on #109
no requirements details received

[2022-07-05 09:51] #109 closed, assigned to nobody

[2022-07-06 02:07] nf-s commented on #115
Done https://maps.dea.ga.gov.au/#share=s-DEALandCover

[2022-07-06 02:07] #115 closed, assigned to nobody